@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    main > section#login {
        width: 350px;
        height: 330px;
    }

    form > input[type="submit"] {
        width: 90%;
        border: 1px solid black;
        display: block;
        margin: auto;
        margin-bottom: 7px;
    }

    form > a {
        width: 90%;
        border: 1px solid black;
        display: block;
        margin: auto;
    }


    
}

@media screen and (min-width:992px) and (max-width:1200px) {
    main > section#login {
        width: 400px;
        height: 600px;
    }

}

@media screen and (min-width:1200px) {
    main > section#login {
        width: 400px;
        height: 600px;
    }
}