@charset "UTF-8";

/*
FF422C
*/

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(146, 14, 14);
    width: 100vw;
    height: 100vh;
    position: relative;
    background: black url(../imagens/fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

main > section#login { 
    position: absolute;
    background-color:rgba(0, 0, 0, 0.836);
    width: 280px;
    height:440px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
    transition: width .3s, heigth .3s;
}

div.info {
    color:white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black;
    width: 100%;
    height: 30%


}

section h1 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
}

section p {
    font-size: 1em;
    margin: 5px;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
}

div.campo {
    width: 100%;
    height: 50px;
    color: white;
    padding: 5px;
    margin: 8px;
    background-color:rgba(0, 0, 0, 0);
}

form > div.campo > i {
    font-size:2em;
    width: 30px;
}

form > div.campo > input {
    font-size: 1em;
    background-color:white;
    border-radius: 5px;
    padding: 8px;
    width: calc(100% - 42px);
    transform: translateY(-7px);
}

form > input[type="submit"] {
    font-weight: bold;
    padding: 8px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    background-color:red;
    border: 1px solid black;
    width: 100%;
    display: block;
    margin: 10px 0px;
    font-size: 1em;
}

form > input[type="submit"]:hover {
    background-color: rgb(182, 3, 3);
    cursor: pointer;
}

p.ou {
    color: white;
    text-align: center;
}

form > a.cadastro {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    padding: 8px;
    color: white;
    border-radius: 5px;
    background-color:red;
    border: 2px solid black;
    width: 100%;
    display: block;
    margin: auto;
}

form > a.cadastro:hover {
    background-color: rgb(182, 3, 3);
    cursor: pointer;
}

a.cadastro {
    text-decoration: none;
    display: block;
    color: white;
    text-shadow: 1px solid black;
    font-weight: bold;
    border-radius: 8px;
}

a.cadastro:hover {
    color: lightgray;
}

form > a.esqueci {
    color: white;
    display: block;
    padding:10px;
    text-decoration: none;
}

form > a.esqueci:hover {
    color: rgba(247, 246, 246, 0.74);
}

footer {
    background-color:rgba(0, 0, 0, 0.836);
    padding: 6px;
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a {
    text-decoration: underline;
    color:white;
    font-size: 1em;
    font-weight: bold;
}


