@charset "UTF-8";

/*
FF422C
*/

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(146, 14, 14);
    width: 100vw;
    height: 100vh;
    position: relative;
    background: black url(../imagens/fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

main > section#login { 
    position: absolute;
    background-color:rgba(0, 0, 0, 0.836);
    width: 250px;
    height:480px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
    transition: width .3s, heigth .3s;
}

div.info {
    color:white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black;
    width: 100%;
    height: 30%


}

section h1 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    text-shadow: 10px black;
}

section p {
    font-size: 1em;
    margin: 5px;
}

div.campo {
    width: 100%;
    height: 50px;
    color: white;
    padding: 5px;
    margin: 8px;
    background-color:rgba(0, 0, 0, 0);
}

form > div.campo > i {
    font-size:2em;
    width: 33px;
}

form > div.campo > input {
    font-size: 1em;
    border: 2px solid black;
    background-color:white;
    border-radius: 8px;
    padding: 8px;
    width: calc(100% - 49px);
    transform: translateY(-7px);
}

form > input[type="submit"] {
    padding: 8px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    background-color:red;
    border: none;
    width: 100%;
    display: block;
    margin: 10px 0px;
    font-size: 1em;

}

form > input[type="submit"]:hover {
    background-color: rgb(182, 3, 3);
}

form > a {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color:red;
    border: none;
    width: 100%;
    display: block;
    margin: auto;
}

form > a:hover {
    background-color: rgb(182, 3, 3);
}

